body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
header{
    background-color: rgb(172, 46, 14);
    color: rgb(19, 178, 218);
    padding: 20px 0;
}
header h1,ul,nav{
    text-align: center;
}
main h2{
    text-align: center;
}
header ul,a {
    list-style-type: none; 
  }
  .anaa{
    display: inline-block;
    background-color: rgb(122, 164, 201);
    color: rgb(253, 253, 253);
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    transition: 300ms background-color;
    margin-bottom: 10px;
} 
.anaa:hover{
    background-color: rgb(205, 237, 255);
}
main h1,ul{
    list-style-type: none; 
}
.selçukcontainer{
    background-image:  url(resim/selcuk.jpeg);
}
.selçukcontainer h2,ul{
   color: azure;
}
p{
    color: black;
}
.sultanlar{
    padding: 40px 0px;
}
.sultanlar{
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}
.sultanlar:hover{
    border-color: rgb(167, 13, 13);
}
.sultanlar{
    background-color: aqua;
}
.osmancontainer{
    background-image:  url(resim/osmanlı.png);
}
.osmancontainer h2,ul{
    color: rgb(255, 240, 240);
 }
 .sultanlaro{
    padding: 40px 0px;
}
.sultanlaro{
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}
.sultanlaro:hover{
    border-color: rgb(167, 13, 13);
}
.sultanlaro{
    background-color: rgb(255, 0, 0);
}